<!-- Header -->
<section class='w3-panel w3-white w3-center w3-padding-64' id='testHeader'>
	<h1 class='w3-text-deep-purple w3-bold'>Teste Header</h1>
	<h2 class='w3-text-deep-purple w3-opacity'>This is a test header</h2>
</section>
	
<!-- Fullbanner Header -->
<section class='w3-display-container' id='testFullbannerHeader'>
	<img src='https://www.w3schools.com/w3css/img_mountains.jpg' alt='Mountains' style='width:100%'>
	<div class='w3-padding w3-display-middle'>
		<div class='w3-center'>
			<h1 class='w3-text-white w3-bold w3-shadow'>Teste Fullbanner Header</h1>
			<p class='w3-large w3-text-white w3-opacity w3-shadow'>This is a test fullbanner header</p>
		</div>
	</div>
</section>

<!-- Article -->
<section class='w3-container w3-white w3-padding-32' id='testArticle0'>
	<article>
		<header>
			<h2 class='w3-text-deep-purple'>Test Article</h2>
			<h3 class='w3-text-deep-purple w3-opacity'>This is a test article.</h3>
		</header>
		<figure style='width:33%;float:left;margin:8px'>
			<img src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
			<figcaption class='w3-tiny'>This is a test image.</figcaption>
		</figure>
		<div class='w3-justify' style='padding-left:16px'>
			<p>This is a test introduction. It's a short paragraph with some basic information about the topic. It provides context and sets the stage for the main content.</p>
			<p>This is a test news paragraph. It delves into the main topic, presenting key facts, details, and insights. It's engaging and informative, keeping the reader interested.</p>
			<p>This is a test conclusion. It summarizes the main points, offers insights, and leaves a lasting impression on the reader. It's concise and impactful.</p>
		</div>
		<footer class='w3-container w3-white w3-padding-16' style='clear:both'>
			<p class='w3-right w3-small'>Author: John Doe - Date: 2023-10-26</p>
		</footer>
	</article>
</section>

<!-- Tables -->
<section class='w3-container w3-white w3-padding-32' id='testTable0'>
	<header>
		<h2 class='w3-text-deep-purple'>Test Table</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>This is a table with five registers</h3>
	</header>
	<table class='w3-table-all w3-hoverable w3-card w3-small'>
		<tbody><tr class='w3-deep-purple'>
			<th>Column 1</th>
			<th>Column 2</th>
			<th>Column 3</th>
		</tr>
		<tr>
			<td>Register 1</td>
			<td>Register 1</td>
			<td>Register 1</td>
		</tr>
		<tr>
			<td>Register 2</td>
			<td>Register 2</td>
			<td>Register 2</td>
		</tr>
		<tr>
			<td>Register 3</td>
			<td>Register 3</td>
			<td>Register 3</td>
		</tr>
		<tr>
			<td>Register 4</td>
			<td>Register 4</td>
			<td>Register 4</td>
		</tr>
		<tr>
			<td>Register 5</td>
			<td>Register 5</td>
			<td>Register 5</td>
		</tr>
	</tbody></table>
	<footer class='w3-container w3-white w3-padding-16'>
		<p class='w3-right w3-small'>Author and data of creation</p>
	</footer>
</section>

<!-- News 1 -->
<section class='w3-row-padding w3-content w3-padding-32' style='max-width:1400px' id='testNews'>
	<div class='w3-twothird'>
		<figure class='w3-margin-0'>
			<img src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
			<figcaption class='w3-small'>Caption for image</figcaption>
		</figure>
		<header>
			<h2 class='w3-text-deep-purple'>News Title</h2>
			<h3 class='w3-text-deep-purple w3-opacity'>Subtitle</h3>
		</header>
		<div class='w3-justify w3-padding-16'>
			<p>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
			<p>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. </p>
			<p>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
		</div>	
		<footer class='w3-container w3-white w3-padding-16' style='clear:both'>
			<p class='w3-right w3-small'>Author and data of creation</p>
		</footer>
	</div>
	<div class='w3-third'>
		<div class='w3-container w3-light-grey'>
			<header>
				<h4 class='w3-text-deep-purple'>News Title</h4>
				<h5 class='w3-text-deep-purple w3-opacity'>Subtitle</h5>
			</header>
			<p class='w3-justify'>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
		</div>
		<br>
		<div class='w3-container w3-light-grey w3-justify'>			
			<header>
				<h4 class='w3-text-deep-purple'>News Title</h4>
				<h5 class='w3-text-deep-purple w3-opacity'>Subtitle</h5>
			</header>
			<p class='w3-justify'>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
		</div>
		<br>
		<div class='w3-container w3-light-grey w3-justify'>
			<header>
				<h4 class='w3-text-deep-purple'>News Title</h4>
				<h5 class='w3-text-deep-purple w3-opacity'>Subtitle</h5>
			</header>
			<p class='w3-justify'>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
		</div>
	</div>
</section>

<!-- News 2 -->
<section class='w3-row-padding w3-content w3-padding-32' style='max-width:1400px' id='testNews'>
	<div class='w3-twothird'>
		<article>
			<figure style='width:50%;float:left;margin:8px'>
				<img src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<figcaption class='w3-tiny'>Figure Caption</figcaption>
			</figure>
			<div class='w3-justify' style='padding-left:16px'>
				<header>
					<h2 class='w3-text-deep-purple'>News Title</h2>
					<h3 class='w3-text-deep-purple w3-opacity'>Subtitle</h3>
				</header>
				<p>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
				<p>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. </p>
				<p>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
			</div>
			<footer class='w3-container w3-white w3-padding-16' style='clear:both'>
				<p class='w3-right w3-small'>Author and data of creation</p>
			</footer>
		</article>
	</div>
	<div class='w3-third'>
		<header>
			<h3 class='w3-text-deep-purple'>Section Name</h3>
			<h4 class='w3-text-deep-purple w3-opacity'>Subtitle section</h4>
		</header>
		<div class='w3-container w3-light-grey'>
			<header>
				<h4 class='w3-text-deep-purple'>News Title</h4>
				<h5 class='w3-text-deep-purple w3-opacity'>Subtitle</h5>
			</header>
			<p class='w3-justify'>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
		</div>
		<br>
		<div class='w3-container w3-light-grey w3-justify'>
			<header>
				<h4 class='w3-text-deep-purple'>News Title</h4>
				<h5 class='w3-text-deep-purple w3-opacity'>Subtitle</h5>
			</header>
			<p class='w3-justify'>This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template. This is a test news to test news template.</p>
		</div>
	</div>
</section>

<!-- Cards -->
<section id='testModal' class='w3-modal' style='display: none;'>
	<div class='w3-modal-content'>
	  <header class='w3-container w3-deep-purple'> 
		<span onclick='document.getElementById(`testModal`).style.display=`none`' class='w3-button w3-display-topright'>×</span>
		<h2 id='testModalHeader'>Card Button Text</h2>
	  </header>
	  <div class='w3-container w3-padding-16' id='testModalMain'>
			<h4 id='testModalSubtitle'>Card Title: Card Subtitle</h4>
			<img src='https://www.w3schools.com/w3css/img_lights.jpg' id='testModalImage' style='max-width:200px;float:left;margin-right:8px'>
			<p id='testModalText'>Card Text with 500 characters</p>
	  </div>
	  <footer class='w3-container w3-center w3-deep-purple' id='testModalFooter'>Card Footer</footer>
	</div>
</section>
<section class='w3-container w3-white w3-padding-32' id='testCards9'>
	<header>
		<h2 class='w3-text-deep-purple'>One Card</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>Show one card</h3>
	</header>
	<div class='w3-row-padding w3-center'>
		<div class='w3-card-4 w3-margin'>
			<img id='testCardsImage9' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
			<div class='w3-container w3-center'>
				<h3 id='testCardsTitle9'>Card Title</h3>
				<p id='testCardsSubtitle9'>Card Subtitle</p>
				<p id='testCardsText9' class='w3-hide'>Card Text with 500 characters</p>
				<p id='testCardsFooter9' class='w3-hide'>Card Footer</p>
			</div>
			<button id='testCardButton9' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`9`)'>Card Button Text</button>
		</div>
	</div>
</section>
<section class='w3-container w3-white w3-padding-32' id='testCards0'>
	<header>
		<h2 class='w3-text-deep-purple'>Two Cards</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>Show two cards</h3>
	</header>
	<div class='w3-row-padding w3-center'>
		<div class='w3-half'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage0' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle0'>Card Title</h3>
					<p id='testCardsSubtitle0'>Card Subtitle</p>
					<p id='testCardsText0' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter0' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton0' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`0`)'>Card Button Text</button>
			</div>
		</div>
		<div class='w3-half'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage1' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle1'>Card Title</h3>
					<p id='testCardsSubtitle1'>Card Subtitle</p>
					<p id='testCardsText1' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter1' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton1' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`1`)'>Card Button Text</button>
			</div>
		</div>
	</div>
</section>
<section class='w3-container w3-white w3-padding-32' id='testCards1'>
	<header>
		<h2 class='w3-text-deep-purple'>Three Cards</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>Show three cards</h3>
	</header>
	<div class='w3-row-padding w3-center'>
		<div class='w3-third'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage2' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle2'>Card Title</h3>
					<p id='testCardsSubtitle2'>Card Subtitle</p>
					<p id='testCardsText2' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter2' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton2' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`2`)'>Card Button Text</button>
			</div>
		</div>
		<div class='w3-third'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage3' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle3'>Card Title</h3>
					<p id='testCardsSubtitle3'>Card Subtitle</p>
					<p id='testCardsText3' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter3' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton3' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`3`)'>Card Button Text</button>
			</div>
		</div>
		<div class='w3-third'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage4' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle4'>Card Title</h3>
					<p id='testCardsSubtitle4'>Card Subtitle</p>
					<p id='testCardsText4' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter4' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton4' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`4`)'>Card Button Text</button>
			</div>
		</div>
	</div>
</section>
<section class='w3-container w3-white w3-padding-32' id='testCards2'>
	<header>
		<h2 class='w3-text-deep-purple'>Four Cards</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>Show four cards</h3>
	</header>
	<div class='w3-row-padding w3-center'>
		<div class='w3-quarter'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage5' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle5'>Card Title</h3>
					<p id='testCardsSubtitle5'>Card Subtitle</p>
					<p id='testCardsText5' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter5' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton5' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`5`)'>Card Button Text</button>
			</div>
		</div>
		<div class='w3-quarter'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage6' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle6'>Card Title</h3>
					<p id='testCardsSubtitle6'>Card Subtitle</p>
					<p id='testCardsText6' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter6' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton6' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`6`)'>Card Button Text</button>
			</div>
		</div>
		<div class='w3-quarter'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage7' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle7'>Card Title</h3>
					<p id='testCardsSubtitle7'>Card Subtitle</p>
					<p id='testCardsText7' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter7' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton7' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`7`)'>Card Button Text</button>
			</div>
		</div>
		<div class='w3-quarter'>
			<div class='w3-card-4 w3-margin'>
				<img id='testCardsImage8' src='https://www.w3schools.com/w3css/img_lights.jpg' alt='Lights' style='width:100%'>
				<div class='w3-container w3-center'>
					<h3 id='testCardsTitle8'>Card Title</h3>
					<p id='testCardsSubtitle8'>Card Subtitle</p>
					<p id='testCardsText8' class='w3-hide'>Card Text with 500 characters</p>
					<p id='testCardsFooter8' class='w3-hide'>Card Footer</p>
				</div>
				<button id='testCardButton8' class='w3-button w3-deep-purple' style='width:100%' onclick='testModalCard(`8`)'>Card Button Text</button>
			</div>
		</div>
	</div>
</section>

<!-- Tabs -->
<section class='w3-container w3-mpadding-32 w3-white' id='testTabs0'>
	<header>
		<h2 class='w3-text-deep-purple'>About Us</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>Learn more about our company and our mission.</h3>
	</header>
		<div class='w3-bar w3-deep-purple'>
		<button class='w3-bar-item w3-button' onclick='testTabs0(`0`)'>History</button>
		<button class='w3-bar-item w3-button' onclick='testTabs0(`1`)'>Mission</button>
		<button class='w3-bar-item w3-button' onclick='testTabs0(`2`)'>Values</button>
	</div>
	<div id='testTab0' class='w3-container testTab0 w3-show'>
		<header class='w3-container'>
			<h3 class='w3-text-deep-purple'>History</h3>
			<h4 class='w3-text-deep-purple w3-opacity'>Discover our history</h4>
		</header>
		<p>Our company was founded in 2000 with the goal of providing innovative solutions to our customers. We have a long history of success and we are committed to continued growth and innovation.</p>
	</div>
	<div id='testTab1' class='w3-container testTab0 w3-hide'>
		<header class='w3-container'>
			<h3 class='w3-text-deep-purple'>Mission</h3>
			<h4 class='w3-text-deep-purple w3-opacity'>Learn about our mission</h4>
		</header>
		<p>Our mission is to provide our customers with the highest quality products and services. We are committed to exceeding our customer's expectations and building long-lasting relationships.</p>
	</div>
	<div id='testTab2' class='w3-container testTab0 w3-hide'>
		<header class='w3-container'>
			<h3 class='w3-text-deep-purple'>Values</h3>
			<h4 class='w3-text-deep-purple w3-opacity'>Know our values</h4>
		</header>
		<p>Our values are the foundation of our company. We believe in integrity, honesty, and respect for our employees and customers.</p>
	</div>
</section>

<!-- Accordions -->
<section class='w3-container w3-white w3-padding-32' id='testAccordions0'>
	<header>
		<h2 class='w3-text-deep-purple'>Our Services</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>We offer a wide range of services to meet your needs.</h3>
	</header>
	<button onclick='testAccordions(`0`)' class='w3-btn w3-block w3-deep-purple w3-left-align'>Web Development</button>
	<div id='testAccordion0' class='w3-container w3-white w3-hide'>
	  <h4 class='w3-text-deep-purple'>Web Development</h4>
	  <h5 class='w3-text-deep-purple w3-opacity'>Discover our website technology</h5>
	  <p>We offer a wide range of web development services, including website design, development, and maintenance. We work with businesses of all sizes to create custom websites that meet their unique needs.</p>
	</div>
	<button onclick='testAccordions(`1`)' class='w3-btn w3-block w3-deep-purple w3-left-align'>Mobile App Development</button>
	<div id='testAccordion1' class='w3-container w3-white w3-hide'>
	  <h4 class='w3-text-deep-purple'>Mobile App Development</h4>
	  <h5 class='w3-text-deep-purple w3-opacity'>An app specially developed for your company</h5>
	  <p>We also offer mobile app development services. We create native iOS and Android apps that are user-friendly and engaging. </p>
	</div>
</section>

<!-- Galery Slide -->
<section class='w3-container w3-white w3-padding-32' id='testGalerySlide0'>
	<header>
		<h2 class='w3-text-deep-purple'>Image Gallery</h2>
		<h3 class='w3-text-deep-purple w3-opacity'>A collection of images from our latest projects.</h3>
	</header>
	<div class='w3-content w3-display-container'>
		<img class='testSlides0' src='https://www.w3schools.com/w3css/img_lights.jpg' style='width:100%'>
		<img class='testSlides0' src='https://www.w3schools.com/w3css/img_mountains.jpg' style='width:100%'>
		<img class='testSlides0' src='https://www.w3schools.com/w3css/img_forest.jpg' style='width:100%'>
		<img class='testSlides0' src='https://www.w3schools.com/w3css/img_snow.jpg' style='width:100%'>
		<button class='w3-button w3-black w3-display-left' onclick='testPlusDivs0(-1)'>&#10094;</button>
		<button class='w3-button w3-black w3-display-right' onclick='testPlusDivs0(1)'>&#10095;</button>
	</div>
</section>

<!-- Forms and Fields -->
<section class='w3-container w3-margin-top w3-padding-32' id='testForm'>
	<fieldset class='w3-border-deep-purple w3-container w3-card-4'>
		<legend class='w3-deep-purple w3-xlarge w3-center' style='width:100%'> Contact Us </legend>
		<form id='testForm' onsubmit='return testSend(this)' method='post'>
			<p>
				<input class='w3-input' type='text' id='testName'>
				<label class='w3-text-deep-purple' for='testName'>Your Name</label>
			</p>
			<p>
				<input class='w3-input' type='email' id='testEmail'>
				<label class='w3-text-deep-purple' for='testEmail'>Your Email</label>
			</p>
			<p>
				<input class='w3-input' type='tel' id='testPhone'>
				<label class='w3-text-deep-purple' for='testPhone'>Your Phone</label>
			</p>
			<p class='w3-text-deep-purple'>Select your preferred contact method</p>
			<p><input class='w3-radio' type='radio' name='testContactMethod' value='Email'><label>Email</label></p>
			<p><input class='w3-radio' type='radio' name='testContactMethod' value='Phone'><label>Phone</label></p>
			<p>
				<textarea class='w3-input'  id='testMessage'></textarea>
				<label class='w3-text-deep-purple' for='testMessage'>Your Message</label>
			</p>
			<p>
				<select class='w3-select' id='testSubject'>
					<optgroup label='Subjects'>
						<option value='General Inquiry'>General Inquiry</option>
						<option value='Project Inquiry'>Project Inquiry</option>
						<option value='Feedback'>Feedback</option>
					</optgroup>
				</select>
				<label class='w3-text-deep-purple' for='testSubject'>Subject</label>
			</p>
			<p class='w3-half'>
				<input class='w3-input' type='date' id='testDate'>
				<label class='w3-text-deep-purple' for='testDate'>Date</label>
			</p>
			<p class='w3-half'>
				<input class='w3-input' type='time' id='testTime'>
				<label class='w3-text-deep-purple' for='testTime'>Time</label>
			</p>
			<p class='w3-third'>
				<input class='w3-input' type='number' id='testNumber'>
				<label class='w3-text-deep-purple' for='testNumber'>Number</label>
			</p>
			<p class='w3-third'>
				<input class='w3-input' type='range' id='testRange' min='1' max='10' step='1'>
				<label class='w3-text-deep-purple' for='testRange'>Range</label>
			</p>
			<p class='w3-third'>
				<input class='w3-input' type='color' id='testColor'>
				<label class='w3-text-deep-purple' for='testColor'>Color</label>
			</p>
			<p class='w3-quarter'>
				<input class='w3-input' type='file' id='testFile'>
				<label class='w3-text-deep-purple' for='testFile'>File</label>
			</p>
			<p class='w3-quarter'>
				<input class='w3-input' type='password' id='testPassword'>
				<label class='w3-text-deep-purple' for='testPassword'>Password</label>
			</p>
			<p class='w3-quarter'>
				<input class='w3-input' type='url' id='testUrl'>
				<label class='w3-text-deep-purple' for='testUrl'>URL</label>
			</p>
			<p class='w3-quarter'>
				<input class='w3-input' type='search' id='testSearch'>
				<label class='w3-text-deep-purple' for='testSearch'>Search</label>
			</p>
			<p class='w3-center'>
				<button type='submit' class='w3-button w3-section w3-deep-purple w3-ripple' style='width:100%'> Send </button>
			</p>
		</form>
	</fieldset>
</section>

<!--Footer-->
<section class='w3-container w3-center w3-deep-purple' id='testFooter'>
	<h4>Test Company</h4>
	<p class='w3-small'>Copyright &copy; 2023 Test. All Rights Reserved.</p>
</section>